.container{
    text-align: center;
  
}

table {
    margin: 0 auto;
    width: 25%;
}

table, th, td {
    height: 14px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: start;
    padding: 5px 0px 5px 5px;
}
